.search {
  width: 750px;
  font-size: 1rem;
  height: 1px;
  color: gray;
  background-color: #004b77;
  position: relative;
  top: -3.1rem;
  left: 8rem;
}

.search input {
  width: 500px;
  position: relative;
  left: 125px;
}

.search button {
  position: relative;
  left: 125px;
  width: 40px;
  color: black;
  margin: 2px;
}
